form {
    display: flex;
    flex-direction: column;

    width: 80%;
    padding: 20px;
    border: 1px solid lightgray;
}

form > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 120px;
    height: 35px;

    margin: 2px;
    padding: 5px;
}