.row {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* box-sizing: border-box; */
}

.col {
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;

    font-size: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#mainsec {
    margin: 20px;
}
