#boxMain {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#txt1 {
    padding: 5px;
    font-size: larger;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5px;
}

#btOk, #btCancel {
    width: 20%;
    margin-right: 5px;
}

#content {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.imgs {
    width: 30%;
    height: 50%;
    margin: 5px;
    /* background-color: grey; */
    text-align: center;

    border: 1px solid lightgray;
    border-radius: 10px;
}

div > img {
    width: 100%;
    height: 70%;
}

p {
    margin: 5px;
    font-size: small;
    text-align: start;
}

.location {
    margin-inline: 10px;
}