body{
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    background-color: #cbdce6;
}

header, main, footer{
    width: 800px;
    background-color: #fafaff;

    margin: 10px;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header{
    background-color: #274c77;
    color: white;
    margin: 25px;
}

header > h1 {
    text-align: center;
}

/* header > h1 > span */
header span {
    color: white;
}

ul {
    list-style: none;
}

footer {
    padding: 0px 20px;
}

footer > ul {
    display: flex;
    justify-content: end;
}

footer li {
    margin: 10px;
    /* margin-top,right,left,bottom을 한 번에 쓸 수 있음*/
    /* 순서 -> 위 오른쪽 아래 왼쪽(시계방향)*/
}

a {
    text-decoration: none;
}

footer a {
    display: inline-flex;
    background-color: #274c77;
    color: white;

    border-radius: 10px;
    padding: 10px 20px;
}

footer a:hover{
    background-color: #49698d;
}

main li {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

main li:hover{
    background-color: #f3f3fa;
}