/* 자바스크립트 기초 css */
main{
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 20px;
    margin: 5px 15px;

    background-color: #274c77;
    color: white;

    border-radius: 5px;
    border: none;

    font-weight: bold;
}

button:hover{
    background-color: #49698d;
}

.btDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}