main{
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, input[type=button], input[type=reset]{
    padding: 10px 20px;
    margin: 5px 15px;

    background-color: #274c77;
    color: white;

    border-radius: 10px;
    border: none;

    font-weight: bold;
}

button:hover, input[type=button]:hover, input[type=reset]:hover {
    background-color: #49698d;
}

.btDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid lightgray;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-weight: bold;
}

.inputDiv {
    margin-bottom: 40px;
}

input[type=text] {
    padding: 8px;
}

/* [] 안에 있는 속성을 가지고 있으면 적용 */
input[readonly] { 
    background-color: rgb(232, 223, 202);
}

#msg span {
  color: red;
}